src/*.exe
src/litecoin
src/litecoindarkd
src/test_litecoindarkd
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.litecoin
.cproject
.project
# Compilation and Qt preprocessor part
*.qm
Makefile
litecoindark-qt
LitecoinDark-Qt.app

# Unit-tests
Makefile.test
litecoindark-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
Thumbs.db

#ignore thumbnails created by windows
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.filters
litecoindark.sdf
litecoindark.opensdf
